.chats {
    margin: -100px 0; 
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}
.chats__container {
    height: 100%; 
    width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    border-right: 2px solid var(--black);
    border-left: 2px solid var(--black);
    background-color: var(--white);
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 90vh;
    border-right: 2px solid var(--black);
    overflow-y: auto;
    scrollbar-width: none;
}
.users {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-bottom: 2px solid var(--black);
}
.user:hover {
    background-color: var(--lightGrey);
}
.user__avatar {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--black);
}
.user__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100%;
}
.user__name {
    font-weight: 500;
    font-size: 18px;
}
.user__lastMessage {
    font-size: 16px;
}
.chat {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%; 
}
.chat__header {
    flex-shrink: 0; 
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid var(--black);
}
.chat__header__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid var(--black);
}
.chat__header__name {
    font-weight: 500;
    font-size: 24px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 100%;
}
.chat__messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.chat__messages__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.message {
    min-width: 50px;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid var(--black);
    width: fit-content;
    border-radius: 20px;
}
.myMessage {
    background-color: var(--lightGrey);
    margin-left: auto;
}
.yourMessage {
    margin-right: auto;
}
.chat__footer {
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 2px solid var(--black);
}
.chat__footer__input {
    flex: 1;
    border: 2px solid var(--black);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
}
.chat__footer__btn {
    border: 2px solid var(--black);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
}

/*----media-------------------------------------------*/

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
