.starsTL,
.starBR,
.starsTR,
.starsBL {
  position: absolute;
  z-index: 1;
}
.starsTL {
  left: 0;
  top: 0;
}
.starBR {
  bottom: 0;
  right: 0;
}
.starsTR {
  right: 0;
  top: 0;
  display: none;
}
.starsBL {
  bottom: 0;
  left: 0;
  display: none;
}

/*----media-------------------------------------------*/

@media (max-width: 768px) {
  .starsTL,
  .starBR {
    display: none;
  }
  .starsBL,
  .starsTR {
    display: block;
  }
}
